version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    assignees:
      - "dependabot"
    commit-message:
      prefix: ⬆

  - package-ecosystem: docker-compose
    directory: "/"
    schedule:
      interval: "weekly"
    assignees:
      - "dependabot"
    commit-message:
      prefix: ⬆

  - package-ecosystem: docker
    directory: "/"
    schedule:
      interval: "weekly"
    assignees:
      - "dependabot"
    commit-message:
      prefix: ⬆
