# ============================================
# netwokrs
# ============================================
networks:
  restricted_wan:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.30.0/24
