# ============================================
# logging
# ============================================
x-logging: &default-logging
  driver: "json-file"
  options:
    max-size: "10m"
    max-file: "3"
    compress: "true"
# ============================================
# netwokrs
# ============================================
networks:
  restricted_wan:
    external: true
services:
  # ============================================
  # gotify - notifications
  # ============================================
  gotify:
    image: gotify/server:2.6.1 # min supported for tg plugin
    container_name: gotify
    logging: *default-logging
    hostname: gotify
    networks:
      restricted_wan:
        ipv4_address: 172.20.30.15
    environment:
      - LOG_LEVEL=info
      - PUID=${USER_ID}
      - PGID=${GROUP_ID}
      - TZ=${TIMEZONE}
      - UMASK_SET=${USER_MASK}
      - GOTIFY_DEFAULTUSER_NAME=${USER:-admin}
      - GOTIFY_DEFAULTUSER_PASS=${PASS:-admin}
      - GOTIFY_SERVER_PORT=8282
      - TG_PLUGIN__LOG_LEVEL=info
      - TG_PLUGIN__GOTIFY_URL=http://127.0.0.1:8282
      - TG_PLUGIN__GOTIFY_CLIENT_TOKEN=${TOKEN:-}
      - TG_PLUGIN__TELEGRAM_DEFAULT_BOT_TOKEN=${BOT_TOKEN:-}
      - TG_PLUGIN__TELEGRAM_DEFAULT_CHAT_IDS=${CHAT_ID:-}
      - TG_PLUGIN__MESSAGE_INCLUDE_APP_NAME=true
      - TG_PLUGIN__MESSAGE_INCLUDE_TIMESTAMP=false
      - TG_PLUGIN__MESSAGE_INCLUDE_EXTRAS=false
    volumes:
      - ${CONFIG_ROOT:-.}/gotify:/app/data
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.gotify.tls=true"
      - "traefik.http.routers.gotify.entrypoints=websecure"
      - "traefik.http.routers.gotify.rule=Host(`gotify.${DOMAIN}`)"
      - "traefik.http.services.gotify.loadbalancer.server.port=8282"
      - "traefik.http.routers.gotify.tls.certresolver=cloudflare"
    security_opt:
      - no-new-privileges:true
    restart: "unless-stopped"
    healthcheck:
      disable: false
    deploy:
      resources:
        limits:
          memory: 128M
          cpus: "0.1"
